{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<form class="form-inline my-2 my-lg-2">
				<a href="{{ url_for('admin.sql_page') }}"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">SQL Page</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="{{ url_for('admin.admin_members_page') }}"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Members</a>
			</form>
		</div>
	</div>
</div>
{% endblock content %}