{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<form class="form-inline my-2 my-lg-2">
				<a href="{{ url_for('admin_list.admin_members_page') }}"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">List All Members</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="{{ url_for('admin_list.admin_teams_page') }}"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">List All Teams</a>
			</form>
		</div>
		<div class="row">
			<form class="form-inline my-2 my-lg-2">
				<a href="{{ url_for('admin_add.admin_add_team_page') }}"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Team</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="{{ url_for('admin_add.admin_add_team_leader_page') }}"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Team Leader</a>
			</form>
		</div>

	</div>
</div>
{% endblock content %}