{% extends "layout.html" %}
{% block title %}Admin Members Page{% endblock %}
{% block content %}

<h6 style="font-size: 40px; text-align: center;">Members Page</h6>
<form>
	<label class="radio-inline" style="padding-right: 20px;"> Search by:</label>
	<label class="radio-inline">
		<input type="radio" name="optradio" value="Name" checked>Name
	</label>
	<label class="radio-inline">
		<input type="radio" name="optradio" value="Email">Email
	</label>
	<label class="radio-inline">
		<input type="radio" name="optradio" value="Auth">Authentication
	</label>
	<label class="radio-inline">
		<input type="radio" name="optradio" value="Team">Team
	</label>
</form>

<div class="input-group">
	<input type="search" id="myInput" onkeyup="search()" placeholder="Enter search key here..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
</div>


<div class="table-responsive">
	<table class = "table table-striped" style='margin-top: 5%; table-layout: auto;' id="myTable">
		<tr>
			<th onclick="sortTable(0)" style="cursor: pointer;">Name
				<img src="../static/images/schedule/order.png" style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(1)" style="cursor: pointer;">Email
				<img src="../static/images/schedule/order.png" style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(2)" style="cursor: pointer;">Authentication
				<img src="../static/images/schedule/order.png" style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(3)" style="cursor: pointer;">Team
				<img src="../static/images/schedule/order.png" style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th></th>
		</tr>
		{% for item in members %}
		<tr>
			<td class="Name">{{item[0]}}</td>
			<td class="Email">{{item[1]}}</td>
			<td class="Auth">{{item[2]}}</td>
			<td class="Team">{{item[3]}}</td>
			<td>
				<form class="form-inline my-2 my-lg-2">
					<a href="{{ url_for('admin_edit.admin_edit_member_page', person_id=item[4]) }}"
						class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Edit</a>
				</form>
			</td>
			<td>
				<form class="form-inline my-2 my-lg-2">
					<a href="{{ url_for('member_delete.member_delete_member_page', person_id=item[4]) }}"
						class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Delete</a>
				</form>
			</td>	
		</tr>
		{% endfor %}
	</table>
</div>

<script>
	function search() {
		var input, filter, table, tr, p, i, radioValue, radiobtn, txtValue;

		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");
		radiobtn = document.getElementsByName('optradio');

		//get value of the checked radio button
		for(i = 0; i < radiobtn.length; i++) { 
			if(radiobtn[i].checked){
				radioValue = radiobtn[i].value;
			}
		}

		//filter elements with the selected radio vaşue
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName(radioValue)[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
</script>
<script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
{% endblock content %}