{% extends "layout.html" %}
{% block title %}Teams Page{% endblock %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/competitions.css') }}" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<h1 id="header" class="text-primary">Competitions</h1>
  
<div class="container list-article">
    {% for item in competitions %}
    <div class="col-xs-12 article-wrapper">
      <article>
        <a href="{{ item[-2] }}" class="more">more</a>
        <div class="img-wrapper"><img src="static/images/competitions/{{ item[-1] }}.png" alt="" /></div>
        <h1>{{item[1]}}</h1>
        <p>{{item[4]}}</p>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}