{% extends "layout.html" %}
{% block title %}Admin Competitions Page{% endblock %}
{% block content %}

<h6 style="font-size: 40px; text-align: center;">Competitions Page</h6>

<div class="table-responsive">
	<table id="myTable" class="table table-striped" style='margin-top: 5%; table-layout: auto;'>
		<tr>
			<th onclick="sortTable(0)" style="cursor: pointer;">Name    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(1)" style="cursor: pointer;">Date    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(2)" style="cursor: pointer;">Country    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th>Description</th>
			<th>Reward</th>
			<th></th>
		</tr>
		{% for item in competitions %}
		<tr>
			<td>{{item[1]}}</td>
			<td>{{item[2]}}</td>
			<td>{{item[3]}}</td>
			<td>{{item[4]}}</td>
			<td>{{item[5]}}</td>
			{% if session['member_id'] == 'admin' %}
			<td>
				<form class="form-inline my-2 my-lg-2">
					<a href="{{ url_for('admin.admin_edit_competition_page',id=item[0]) }}"
						class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Edit</a>
				</form>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>

<script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
{% endblock content %}