{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id="myTable">
    {% for item in teams %}
        <div class="speaker_box">
            <a href="#">
                <div class="speaker_img">
                    <img src="../static/images/team/{{item[5]}}.jpg" alt="speaker name" >
                    
                    <div class="info_box">
                        <h5 class="name">{{ item[0]}}</h5>
                        <p class="type">{{item[1]}}</p>
                        <p class="position" style="margin-top: -20px;">{{item[2]}}&nbsp;/&nbsp;{{item[3]}}</p>
                    </div>
                </div>
            </a>	
        </div>
    {% endfor %}
    
</div>
    
{% endblock content %}