{% extends "layout.html" %}
{% block title %}Add Competition{% endblock %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
	{{ form.csrf_token }}
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Add Competition</h4>
							</div>
							<div class="card-body">
								<form>
									<div class="row">
										<div class="col-md-4 pr-1">
											<div class="form-group">
												<label>{{ form.name.label(class="form-control-label") }}</label>
												{{ form.name(class="form-control form-control-lg") }}
											</div>
										</div>
										<div class="col-md-5 pr-2">
											<div class="form-group">
												<label>{{ form.country.label(class="form-control-label") }}</label>
												{{ form.country(class="form-control form-control-lg") }}
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-5 pr-1">
											<div class="form-group">
												<label>{{ form.reward.label(class="form-control-label") }}</label>
												{{ form.reward(class="form-control form-control-lg") }}
											</div>
										</div>
										<div class="col-md-5 pr-1">
											<div class="form-group">
												<label>{{ form.date.label(class="form-control-label") }}</label>
												{{ form.date(class="form-control form-control-lg") }}
											</div>
										</div>	
									</div>
									<div class="row">
										<div class="col-md-10 pr-1">
											<div class="form-group">
												<label>{{ form.description.label(class="form-control-label") }}</label>
												{{ form.description(class="form-control form-control-lg") }}
											</div>
										</div>
									</div>
									

									<div class="col-md-4 pr-1">
										<div class="form-group">
											{{ form.submit_add_competition(class="btn btn-info btn-fill pull-left") }}
										</div>
									</div>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}