{% extends "layout.html" %}
{% block title %}Sponsors Page{% endblock %}
{% block content %}


<h6 style="font-size: 40px; text-align: center;">Schedule Page</h6>

<div class="table-responsive">
	<table id="myTable" class = "table table-striped" style='margin-top: 5%; table-layout: auto;'>
		<tr>
			<th onclick="sortTable(0)" style="cursor: pointer;">Name    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(1)" style="cursor: pointer;">Deadline    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(2)" style="cursor: pointer;">Status    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th>Description</th>
			<th onclick="sortTable(4)" style="cursor: pointer;">On Duty    
				<img src="static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th></th>
		</tr>
		{% for item in schedule %}
		<tr>
			<td>{{item[0]}}</td>
			<td>{{item[1]}}</td>
			<td>
				<div class="card-body">
					<div class="author">
						<img class="avatar border-gray" src="static/images/schedule/{{ item[2] }}.png"
							alt="..." style="widows: 35px;height:35px">
					</div>
				</div>
			</td>
			<td>{{item[3]}}</td>
			<td>{{item[4]}}</td>	
		</tr>
		{% endfor %}
	</table>        
</div>

<script>
	function sortTable(n) {
		var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		table = document.getElementById("myTable");
		switching = true;
		//Set the sorting direction to ascending:
		dir = "asc"; 
		/*Make a loop that will continue until
		no switching has been done:*/
		while (switching) {
			//start by saying: no switching is done:
			switching = false;
			rows = table.rows;
			/*Loop through all table rows (except the
			first, which contains table headers):*/
			for (i = 1; i < (rows.length - 1); i++) {
				//start by saying there should be no switching:
				shouldSwitch = false;
				/*Get the two elements you want to compare,
				one from current row and one from the next:*/
				x = rows[i].getElementsByTagName("TD")[n];
				y = rows[i + 1].getElementsByTagName("TD")[n];
				/*check if the two rows should switch place,
				based on the direction, asc or desc:*/
				if (dir == "asc") {
					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						//if so, mark as a switch and break the loop:
						shouldSwitch= true;
						break;
					}
				} 
				else if (dir == "desc") {
					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						//if so, mark as a switch and break the loop:
						shouldSwitch = true;
						break;
					}
				}
			}
			if (shouldSwitch) {
				/*If a switch has been marked, make the switch
				and mark that a switch has been done:*/
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
				//Each time a switch is done, increase this count by 1:
				switchcount ++;      
			} 
			else {
				/*If no switching has been done AND the direction is "asc",
				set the direction to "desc" and run the while loop again.*/
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				}
			}
		}
	}
</script>
{% endblock content %}   