{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

{% if session['auth_type'] == 'Team leader' or session['auth_type'] == 'Member' or session['auth_type'] == 'Subteam leader'  %}
    <a href ="{{ url_for('member.member_add_tutorial_page')}}" style="size: 20px; float: right;" class="btn btn-round"> Create New</a>
    <br>
    <br>
    <br>
{% endif %}

<div id="myTable">
    {% for item in tutorials %}
        <div class="speaker_box">
            <a href="{{item[3]}}">
                <div class="speaker_img" style="height: 300px;">
                    <img src="../static/images/tutorial/{{item[4]}} " alt="Image">
                    
                    <div class="info_box">
                        <h5 class="name">{{ item[0]}}</h5>
                        <p class="type">{{item[1]}}</p>
                        <p class="position" style="margin-top: -20px;">{{item[2]}}</p>
                    </div>
                </div>
            </a>

            {% if session['member_id'] == item[6] %}
                <a href ="{{ url_for('member.member_edit_tutorial_page', id=item[-1])}}" class="btn btn-round"> Edit</a>
                <a onclick="myFunction()" class="btn btn-round">Delete</a>
                <a href ="{{ url_for('member.member_delete_tutorial_page', tutorial_id=item[-1])}}" id="myLink"></a>
            {% else %}

            {% endif %}	
        </div>
    {% endfor %}
    
</div>
<script>
function myFunction() {
    var txt;
    var r = confirm("The element is going to be deleted permanently!");
    if (r == true) {
        document.getElementById("myLink").click();
    } else {
        txt = "You pressed Cancel!";
    }
}
</script>
{% endblock content %}